NODE_ENV=production
PORT_URL=5002
PORT_REDIRECT=5003

POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432
POSTGRES_USER=shortener_user
POSTGRES_PASSWORD=shortener_secret
POSTGRES_DB=shortener_db

REDIS_HOST=host.docker.internal
REDIS_PORT=6379
REDIS_PASSWORD=

BASE_REDIRECT_URL=https://zipurl.dpdns.org
