NODE_ENV=production

# Base Redirect URL
BASE_REDIRECT_URL=https://s.zipurl.dpdns.org

# Microservice Ports
PORT_URL=5002
PORT_REDIRECT=5003

SERVICE_URL_HOST=url-service
SERVICE_REDIRECT_HOST=redirect-service

# EC2 Host-Native PostgreSQL Credentials
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432
POSTGRES_USER=shortener_user
POSTGRES_PASSWORD=shortener_secret
POSTGRES_DB=shortener_db

# EC2 Host-Native Redis
REDIS_HOST=host.docker.internal
REDIS_PORT=6379
